services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ../schema.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite_storage
    restart: always
    ports:
      - "10000:10000"

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: photoshare_api
    restart: always
    ports:
      - "3001:3001"
    develop:
      watch:
        - action: sync
          path: ./src
          target: /usr/src/app/src
          
    env_file:
      - ./.env
    depends_on:
      - mysql
      - redis
      - azurite
    command: npm run dev

volumes:
  mysql_data:
  redis_data:
